@import 'normalize.css';

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.app-container > div {
	padding: .5em;
}

.navbar {
	height: 5vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid 1px #000;
}

.navbar > ul {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 4em;
}

.navbar > ul > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 4em;
}


#main-content {
	height: 82vh;
	border: solid 1px #000;
	margin: .5em;
}

.auth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%; 
}

.auth > form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.auth > form > input {
	margin: .5em 0;
}

.dashboard > div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%; 
}

.dashboard > div >form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dashboard > div > form > input, div {
	margin: .5em 0;
}

.footer {
	height: 5vh;
	border: solid 1px #000;
}
